html, body {
  font: 400 14px/1.6 "Futura Bk Bt", sans-serif;
  color: #cfcfcf;
  background-color: #121212;
  margin: 0;
  padding: 0; 
  background-color: #121212; /* Color de fondo del cuerpo */
  background-image: radial-gradient(circle, #202020 1px , transparent 1px);
  background-size: 10px 10px; /* Tamaño de los círculos (ajusta según tus preferencias) */
  background-position: 0 0; /* Posición inicial del patrón */
  display: grid;
  justify-items: center;
  font-family: Roboto, sans-serif;
  color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  font: 800 120%/1.2 "Futura Bk Bt", sans-serif;
  margin: 1em 0; }

::selection {
  background-color: #FF0064;
  color: white; }

a:link, a:visited {
  color: inherit;
  text-decoration: underline; }

a:hover {
  color: #de5900; }

a:active {
  background-color: #22a6aa;
  color: white;
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.15em;
  display: inline-block;
  color: inherit;
  fill: currentColor; }
.profileimg {
  width: 20%;
  height: auto;
  border-radius: 50%;
 }
  .header, .section, .footer {
  padding: 1em 7vw; }
  .header h2, .section h2, .footer h2 {
    font-size: 8.2vw;
    letter-spacing: -.01em;
    line-height: 1; }
  .header h3, .section h3, .footer h3 {
    font-size: 1.5em;
    font-weight: 300; }

@media screen and (min-width: 375px) {
  html, body {
    font-size: 15px; } }

@media screen and (min-width: 400px) {
  html, body {
    font-size: 16px; }
  .header, .section, .footer {
    padding: 1.5em 10vw; } }

@media screen and (min-width: 500px) {
  html, body {
    font-size: 17px; }
  .header, .section, .footer {
    padding: 2em 10vw; } }

@media screen and (min-width: 768px) {
  .header h2, .section h2, .footer h2 {
    font-size: 6vw; } }

@media screen and (min-width: 1024px) {
  .header h2, .section h2, .footer h2 {
    font-size: 5vw; } }

@media screen and (min-width: 1400px) {
  html, body {
    font-size: 18px; }
  .header h2, .section h2, .footer h2 {
    font-size: 4.5vw; } }

@media screen and (min-width: 1600px) {
  .header h2, .section h2, .footer h2 {
    font-size: 4vw; } }

@media screen and (min-width: 1800px) {
  .header h2, .section h2, .footer h2 {
    font-size: 3.5vw; } }

@media screen and (min-width: 2000px) {
  html, body {
    font-size: 19px; }
  .header h2, .section h2, .footer h2 {
    font-size: 78px; } }

.header {
  padding: 1.5em 3.5vw; }

.ds_logo {
    
    display: flex;
    justify-content: flex-start;
  }

.navigation-container {
  display: flex;
  max-width: 1519px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  background-color: #1b1b1b;
}

.navigation-links {
  display: flex;
  padding: 15px 12px 12px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-options {
  margin-right: 10px;
}

@media screen and (min-width: 400px) {
  .header {
    padding: 1.5em 5vw; } }

/* @media screen and (min-width: 768px) {
  .header {
    padding-top: 3em;
    padding-bottom: 3em; } } */

@keyframes animatedBackground {
  from {
    background-position: 0% 0; }
  to {
    background-position: 100% 0; } }

.intro {
  background-color: #f8e3e3;
  background-image: linear-gradient(135deg, #902ea3 0%, #2b9dca 25%, #36a875 50%, #bd8834 75%, #a539bb 100%);
  background-size: 1100%;
  animation: animatedBackground 20s infinite alternate;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5% 3.5vw;
  margin: 0 3.5vw;
  border-radius: 20px;
  box-sizing: border-box; }
.intro_contact {
  background-color: #f8e3e3;
  background-image: linear-gradient(135deg, #b875c4 0%, #2998c4 25%, #319e6d 50%, #be8322 75%, #ac24c7 100%);
  background-size: 1100%;
  animation: animatedBackground 20s infinite alternate;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5% 3.5vw;
  /* margin: 0 3.5vw; */
  border-radius: 20px;
  box-sizing: border-box; }
  
  .intro h1, .intro h1 em, .intro h2, .intro .intro__intro .intro_contact h1{
    transition: color  1s; }
  .intro h1 {
    font-size: 8.2vw;
    margin: 0;
    max-width: 16em;
    mix-blend-mode: color-burn;
    color: #ffffff;
    line-height: 1.15; }
    .intro h1 em {
      font-style: normal;
      color: rgba(255, 255, 255, 0.7); }
  .intro_contact h1 {
    font-size: 8.2vw;
    margin: 0;
    max-width: 16em;
    color: #ffffff;
    line-height: 1.15; }
  .intro h2 {
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    margin: 1.5em 0;
    color: rgba(255, 255, 255, 0.7);
    text-transform: none;
    font-size: 6vw;
    line-height: 1.15; }
  .intro__intro {
    max-width: 50em;
    color: rgba(255, 255, 255, 0.7);
    font-family: "Futura Bk Bt", sans-serif; }
  /* .intro:hover h1, .intro:hover h1 em, .intro:hover h2, .intro:hover .intro__intro .intro_contact:hover h2{
    color: #222222; } */

@media screen and (min-width: 400px) {
  .intro {
    padding: 5% 5vw;
    margin: 0 auto; } }

@media screen and (min-width: 768px) {
  .intro h1 {
    font-size: 6vw; }
  .intro h2 {
    font-size: 5vw; } }

@media screen and (min-width: 1024px) {
  .intro h1 {
    font-size: 5vw; }
  .intro h2 {
    font-size: 4vw; } }

@media screen and (min-width: 1400px) {
  .intro h1 {
    font-size: 4.5vw; }
  .intro h2 {
    font-size: 3.5vw; } }

@media screen and (min-width: 1800px) {
  .intro h1 {
    font-size: 4vw; }
  .intro h2 {
    font-size: 3vw; } }

@media screen and (min-width: 2000px) {
  .intro h1 {
    font-size: 84px; }
  .intro h2 {
    font-size: 60px; } }

.portfolio {
  max-width: 1400px; }
  .portfolio h2 {
    max-width: 8em; }
  .portfolio__intro {
    max-width: 50em; }
  .portfolio__items {
    margin: 1.5em 0; }
  .portfolio__item {
    margin: 2em auto 2.2em 0;
    max-width: 400px;
    font-size: 5vw; }
    .portfolio__item a {
      display: block;
      text-decoration: none; }
      .portfolio__item a:hover {
        background-color: transparent; }
        .portfolio__item a:hover img {
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          mix-blend-mode: normal; }
        .portfolio__item a:hover h4, .portfolio__item a:hover p {
          color: #de5900; }
        .portfolio__item a:hover:active h4, .portfolio__item a:hover:active p {
          background-color: #debd00;
          color: white; }
          .portfolio__item a:hover:active h4 span, .portfolio__item a:hover:active p span {
            text-decoration: none; }
    .portfolio__item img {
      display: block;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
      transition: box-shadow .5s; }
    .portfolio__item h4 {
      margin: 1.2em 0 0;
      font-size: 1em;
      font-weight: 700; }
    .portfolio__item p {
      line-height: 1.45;
      font-size: 1rem;
      color: #848484;
      margin-top: .5em; }
  .portfolio__prizes {
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    color: #848484; }
    .portfolio__prizes p {
      max-width: 60em;
      color: #848484; }

@media screen and (min-width: 500px) {
  .portfolio__item {
    font-size: 4.5vw; } }

@media screen and (min-width: 640px) {
  .portfolio__items {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 6vw;
    justify-items: start; }
  .portfolio__item {
    margin: 1em 0;
    font-size: 3vw; }
    .portfolio__item h4 {
      min-height: 2em; } }

@media screen and (min-width: 768px) {
  .portfolio__items {
    margin-top: 2em;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 5vw; }
  .portfolio__item {
    font-size: 1em; }
    .portfolio__item h4 {
      font-size: 20px; }
    .portfolio__item p {
      font-size: 14px; } }

@media screen and (min-width: 1240px) {
  .portfolio__items {
    margin: 3em 0;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-column-gap: 3em; }
  .portfolio__item p {
    font-size: 15px; } }

@media screen and (min-width: 1400px) {
  .portfolio__items {
    grid-column-gap: 4em; }
  .portfolio__item h4 {
    font-size: 22px; } }

@media screen and (min-width: 1600px) {
  .portfolio__item h4 {
    font-size: 24px; } }

@media screen and (min-width: 2000px) {
  .portfolio__item p {
    font-size: 16px; } }

.about {
  max-width: 60em; }
  .about p {
    font-family: "Futura Bk Bt", sans-serif; }

.elsewhere__list {
  list-style: none;
  padding: 0; }
  .elsewhere__list li {
    margin: .25em 0;
    font-weight: 700;
    font-size: 1.2em; }
  .elsewhere__list a span {
    text-decoration: underline; }
  .elsewhere__list a:link, .elsewhere__list a:visited {
    text-decoration: none; }
  .elsewhere__list a:active span {
    text-decoration: none; }
  .elsewhere__list .icon {
    margin-right: .25em; }
  .elsewhere__list .label {
    color: #848484;
    margin: 1em 0;
    font-weight: 400; }

@media screen and (min-width: 960px) {
  .about {
    display: grid;
    grid-column-gap: 4em;
    grid-template-columns: 2fr 2fr; }
    .about section {
      max-width: 28em; } }

.contact-me{
  display: flex;
  margin: auto auto auto auto;
  
}

.footer {
  display: flex;
  border-radius: 999px;
  max-width: 310px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  justify-content: space-evenly;
  background-color: #202020;
  color: #acacac;
  }
  .footer h2 {
    font-weight: 700;
    font-size: 1em;
    font-family: "Futura Bk Bt", sans-serif;
  }

@media screen and (min-width: 500px) {
  .footer {
    margin-top: 2em;
    margin-bottom: 2em; } }

@media screen and (min-width: 1024px) {
  .footer {
    margin-top: 5em;
    margin-bottom: 5em; } }