html, body {
    font: 400 14px/1.6 "Futura Bk Bt", sans-serif;
    color: #cfcfcf;
    background-color: #121212;
    margin: 0;
    padding: 0; }

  h1, h2, h3, h4, h5, h6 {
    font: 800 120%/1.2 "Futura Bk Bt", sans-serif;
    margin: 1em 0; }
  
    .h2 .h2_stylings {
      color: #22a6aa;
    }

  ::selection {
    background-color: #FF0064;
    color: white; }
  
  a:link, a:visited {
    color: inherit;
    text-decoration: underline; }
  
  a:hover {
    color: #de5900; }
  
  a:active {
    background-color: #22a6aa;
    color: white;
    text-decoration: none; }
  
  img {
    width: 100%;
    height: auto; }

  .imglogo{
    width: 20em;
    height: auto;
  }
  
  .row {
    display: flex;
  }
  
  .column {
    flex: 20%;
    padding: 5px;
  }
  
  .icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    display: inline-block;
    color: inherit;
    fill: currentColor; }
  
    .header, .section, .footer {
    padding: 1em 7vw; }
    .header h2, .section h2, .footer h2 {
      font-size: 8.2vw;
      letter-spacing: -.01em;
      line-height: 1; }
    .header h3, .section h3, .footer h3 {
      font-size: 1.5em;
      font-weight: 300; }
  
  @media screen and (min-width: 375px) {
    html, body {
      font-size: 15px; } }
  
  @media screen and (min-width: 400px) {
    html, body {
      font-size: 16px; }
    .header, .section, .footer {
      padding: 1.5em 10vw; } }
  
  @media screen and (min-width: 500px) {
    html, body {
      font-size: 17px; }
    .header, .section, .footer {
      padding: 2em 10vw; } }
  
  @media screen and (min-width: 768px) {
    .header h2, .section h2, .footer h2 {
      font-size: 6vw; } }
  
  @media screen and (min-width: 1024px) {
    .header h2, .section h2, .footer h2 {
      font-size: 5vw; } }
  
  @media screen and (min-width: 1400px) {
    html, body {
      font-size: 18px; }
    .header h2, .section h2, .footer h2 {
      font-size: 4.5vw; } }
  
  @media screen and (min-width: 1600px) {
    .header h2, .section h2, .footer h2 {
      font-size: 4vw; } }
  
  @media screen and (min-width: 1800px) {
    .header h2, .section h2, .footer h2 {
      font-size: 3.5vw; } }
  
  @media screen and (min-width: 2000px) {
    html, body {
      font-size: 19px; }
    .header h2, .section h2, .footer h2 {
      font-size: 78px; } }
  
  .header {
    padding: 1.5em 3.5vw; }
  
  .ds_logo {
    font-size: .8em;
    font-family: "Futura Bk Bt", sans-serif;
    font-weight: 700;
    text-align: right; }
    .ds_logo a {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      text-decoration: none; }
    .ds_logo span {
      text-transform: uppercase;
      letter-spacing: .1em; }
    .ds_logo .icon {
      font-size: 2em;
      margin-right: .25em;
      vertical-align: 0; }
  
  @media screen and (min-width: 400px) {
    .header {
      padding: 1.5em 5vw; } }
  
  @media screen and (min-width: 768px) {
    .header {
      padding-top: 3em;
      padding-bottom: 3em; } }
  
  @keyframes animatedBackground {
    from {
      background-position: 0% 0; }
    to {
      background-position: 100% 0; } }
  
  .intro {
    background-color: #FFEBCA;
    background-image: linear-gradient(135deg, #F8D5FF 0%, #D5F3FF 25%, #D5FFEC 50%, #FFEBCA 75%, #F8D5FF 100%);
    background-size: 1100%;
    animation: animatedBackground 20s infinite alternate;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 3.5vw;
    margin: 0 3.5vw;
    box-sizing: border-box; }
    .intro h1, .intro h1 em, .intro h2, .intro .intro__intro {
      transition: color  1s; }
    .intro h1 {
      font-size: 8.2vw;
      margin: 0;
      max-width: 16em;
      mix-blend-mode: color-burn;
      color: #222222;
      line-height: 1.15; }
      .intro h1 em {
        font-style: normal;
        color: rgba(34, 34, 34, 0.7); }
    .intro h2 {
      font-weight: 300;
      font-style: normal;
      text-decoration: none;
      margin: 1.5em 0;
      color: rgba(255, 255, 255, 0.7);
      mix-blend-mode: color-burn;
      text-transform: none;
      font-size: 6vw;
      line-height: 1.15; }
    .intro__intro {
      max-width: 50em;
      color: rgba(255, 255, 255, 0.7);
      font-family: "Futura Bk Bt", serif; }
    .intro:hover h1, .intro:hover h1 em, .intro:hover h2, .intro:hover .intro__intro {
      color: #222222; }
  
  @media screen and (min-width: 400px) {
    .intro {
      padding: 5% 5vw;
      margin: 0 5vw; } }
  
  @media screen and (min-width: 768px) {
    .intro h1 {
      font-size: 6vw; }
    .intro h2 {
      font-size: 5vw; } }
  
  @media screen and (min-width: 1024px) {
    .intro h1 {
      font-size: 5vw; }
    .intro h2 {
      font-size: 4vw; } }
  
  @media screen and (min-width: 1400px) {
    .intro h1 {
      font-size: 4.5vw; }
    .intro h2 {
      font-size: 3.5vw; } }
  
  @media screen and (min-width: 1800px) {
    .intro h1 {
      font-size: 4vw; }
    .intro h2 {
      font-size: 3vw; } }
  
  @media screen and (min-width: 2000px) {
    .intro h1 {
      font-size: 84px; }
    .intro h2 {
      font-size: 60px; } }
  
  .portfolio {
    max-width: 1400px; }
    .portfolio h2 {
      max-width: 8em; }
    .portfolio__intro {
      max-width: 50em; }
    .portfolio__items {
      margin: 1.5em 0; }
    .portfolio__item {
      margin: 2em auto 2.2em 0;
      max-width: 400px;
      font-size: 5vw; }
      .portfolio__item a {
        display: block;
        text-decoration: none; }
        .portfolio__item a:hover {
          background-color: transparent; }
          .portfolio__item a:hover img {
            box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
            mix-blend-mode: normal; }
          .portfolio__item a:hover h4, .portfolio__item a:hover p {
            color: #de5900; }
          .portfolio__item a:hover:active h4, .portfolio__item a:hover:active p {
            background-color: #debd00;
            color: white; }
            .portfolio__item a:hover:active h4 span, .portfolio__item a:hover:active p span {
              text-decoration: none; }
      .portfolio__item img {
        display: block;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        transition: box-shadow .5s; }
      .portfolio__item h4 {
        margin: 1.2em 0 0;
        font-size: 1em;
        font-weight: 700; }
      .portfolio__item p {
        line-height: 1.45;
        font-size: 1rem;
        color: #848484;
        margin-top: .5em; }
    .portfolio__prizes {
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      color: #848484; }
      .portfolio__prizes p {
        max-width: 60em;
        color: #848484; }
  
  @media screen and (min-width: 500px) {
    .portfolio__item {
      font-size: 4.5vw; } }
  
  @media screen and (min-width: 640px) {
    .portfolio__items {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 6vw;
      justify-items: start; }
    .portfolio__item {
      margin: 1em 0;
      font-size: 3vw; }
      .portfolio__item h4 {
        min-height: 2em; } }
  
  @media screen and (min-width: 768px) {
    .portfolio__items {
      margin-top: 2em;
      grid-template-columns: 2fr 2fr 2fr;
      grid-column-gap: 5vw; }
    .portfolio__item {
      font-size: 1em; }
      .portfolio__item h4 {
        font-size: 20px; }
      .portfolio__item p {
        font-size: 14px; } }
  
  @media screen and (min-width: 1240px) {
    .portfolio__items {
      margin: 3em 0;
      grid-template-columns: 2fr 2fr 2fr 2fr;
      grid-column-gap: 3em; }
    .portfolio__item p {
      font-size: 15px; } }
  
  @media screen and (min-width: 1400px) {
    .portfolio__items {
      grid-column-gap: 4em; }
    .portfolio__item h4 {
      font-size: 22px; } }
  
  @media screen and (min-width: 1600px) {
    .portfolio__item h4 {
      font-size: 24px; } }
  
  @media screen and (min-width: 2000px) {
    .portfolio__item p {
      font-size: 16px; } }
  
  .about {
    max-width: 60em; }
    .about p {
      font-family: "Futura Bk Bt", serif; }
  
  .elsewhere__list {
    list-style: none;
    padding: 0; }
    .elsewhere__list li {
      margin: .25em 0;
      font-weight: 700;
      font-size: 1.2em; }
    .elsewhere__list a span {
      text-decoration: underline; }
    .elsewhere__list a:link, .elsewhere__list a:visited {
      text-decoration: none; }
    .elsewhere__list a:active span {
      text-decoration: none; }
    .elsewhere__list .icon {
      margin-right: .25em; }
    .elsewhere__list .label {
      color: #848484;
      margin: 1em 0;
      font-weight: 400; }
  
  @media screen and (min-width: 960px) {
    .about {
      display: grid;
      grid-column-gap: 4em;
      grid-template-columns: 2fr 2fr; }
      .about section {
        max-width: 28em; } }
  
  .footer {
    background-color: #202020;
    color: #acacac;
    margin-top: 3em; }
    .footer .icon {
      font-size: 2em;
      margin: .5em 0; }
    .footer h2 {
      text-decoration: none;
      font-weight: 700;
      font-size: 1em;
      font-family: "Futura Bk Bt", serif; }
  
  @media screen and (min-width: 1024px) {
    .footer {
      margin-top: 5em; } }